PORT=5000
MONGO_URI=mongodb+srv://web-crawlers:shifraai@cluster0.chpfjxq.mongodb.net/?appName=Cluster0

JWT_SECRET=change_me_in_production
CLIENT_URL=http://localhost:5173
GEMINI_API_KEY=AIzaSyDpNh08qdcZ8vR2PBMKUQKkA27v_EHUk0o
GEMINI_MODEL=gemini-2.5-flash
google_map_api=AIzaSyA1n226x8y9EsFfrozFo9qblacccyvwJn0
google_map_api=AIzaSyA1n226x8y9EsFfrozFo9qblacccyvwJn0